<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="MainCtrl as main">

    <h2>Testing $http and promises</h2>
    <button ng-click="main.getNames()">Test http</button>
    <button ng-click="main.getStories('http://localhost:3000/stories')">Test JS promise</button>
    <button ng-click="main.login('rick')">Test angular $q promise resolve</button>
    <button ng-click="main.login('blah')">Test angular $q promise reject</button>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="js/app.js"></script>

</html>